services:
  pptr:
    image: gouflv/sspc-pptr:1.0.17-bundle
    container_name: pptr
    init: true
    volumes:
      - ./logs/pptr:/app/logs
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    ports:
      - "3000:3000"
    deploy:
      resources:
        limits:
          cpus: "4.0"
          memory: 8G
    networks:
      - sspc-network

  redis:
    image: redis:7-alpine
    container_name: redis
    volumes:
      - ./data/redis:/data
    command: ["redis-server", "--save", "60", "1"]
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - sspc-network

  queue:
    image: gouflv/sspc-queue:1.1.3
    container_name: queue
    volumes:
      - ./data/queue:/app/data
      - ./logs/queue:/app/logs
    environment:
      - NODE_ENV=production
      - REDIS_URL=redis://redis:6379
      - CAPTURE_ENDPOINT=http://pptr:3000/capture
      - CAPTURE_CONCURRENCY=4
      - COMPRESS_CONCURRENCY=4
    env_file:
      - ./.env
    restart: unless-stopped
    ports:
      - "3001:3001"
    networks:
      - sspc-network

networks:
  sspc-network:
    driver: bridge
